<template>
  <div class="overlay">
    <div class="checker-window">
      <div class="content inputwindow">
        <h3>Test Nilai</h3>
        <div class="inputter"></div>
      </div>
      <div class="content outputwindow"></div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      matkul: [
        "Matematika Diskrit",
        "Filsafat Ilmu",
        "Pengantar Sistem & Teknologi Informasi (PSTI)",
        "Perkembangan Peserta Didik",
        "Pancasila",
        "Fisika",
        "Algoritma & Pemrograman 1",
        "Organisasi & Arsitektur Komputer",
        "Kalkulus",
        "Pendidikan Kewarganegaraan",
        "Pendidikan Agama",
        "Landasan Ilmu Pendidikan (LIP)",
        "Aljabar Linear",
        "Algoritma dan Pemrograman 2",
        "Komunikasi Data",
        "Praktikum Teknik Komputer",
        "Kewirausahaan"
      ],
      nilai: []
    };
  }
};
</script>
<style lang="scss" scoped>
.overlay {
  font-family: "Roboto", "sans-serif";
  background: #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .checker-window {
    width: 80%;
    height: 80%;
    // flex: 1;
    background: white;
    box-shadow: 0px 1px 2px #454545;
    display: flex;
    flex-direction: row;

    .content {
      height: 100%;
    }
    .inputwindow {
      display: flex;
      flex-direction: column;
      background: #787878;
      width: 60%;

      .inputter {
        flex: 1;
      }
      h3 {  
        text-align: center;
        margin: 18px 0px 5px;
      }
    }
  }
}
</style>
