<template>
  <div class="contain">
    <b-row>
      <b-col cols="12">
        <div class="chartContainer" id="chart-container"></div>
      </b-col>
      <div class="filepicker" style="width:600px;">
        <b-form-group label="Select File" label-for="input">
          <b-form-file id="input" @change="changefile"/>
        </b-form-group>
      </div>
    </b-row>
  </div>
</template>
<script>
export default {
  name: "chart-error-reader",
  data() {
    return {
      chart: null,
      errData: []
    };
  },
  mounted() {
    this.chart = Highcharts.chart("chart-container", {
      chart: {
        panKey: "ctrl",
        panning: true,
        zoomType: "xy",
        type: "spline",
        animation: Highcharts.svg, // don't animate in old IE
        events: {
          load: function() {
            var series = this.series[0];
            return;
            setInterval(function() {
              var x = new Date().getTime(), // current time
                y = Math.random();
              series.addPoint([x, y], true, true);
            }, 1000);
          }
        }
      },
      title: {
        text: "Error Sum"
      },
      xAxis: {
        type: "number",
        tickPixelInterval: 150
      },
      yAxis: {
        title: {
          text: "Error Sum"
        },
        plotLines: [
          {
            value: 0,
            width: 1,
            color: "#808080"
          }
        ]
      },
      tooltip: {
        formatter: function() {
          return (
            "<b>" +
            this.series.name +
            "</b><br/>" +
            " Epoch " +
            this.x +
            " Sum error : " +
            this.y +
            "</b>"
          );
        }
      },
      legend: {
        enabled: false
      },
      exporting: {
        enabled: false
      },
      series: [
        {
          name: "Error Sum Per Epoch",
          data: [0, 1]
        }
      ]
    });
  },
  methods: {
    changefile(ev) {
      console.log("reading file");
      const file = ev.target.files[0];
      const reader = new FileReader();

      reader.onload = e => {
        this.errData = e.target.result.split("\n");
        this.startShowResult();
        // this.chart.series[0].setData([],true)
      };
      this.read(reader, file);
    },
    read(reader, file) {
      return new Promise((res, rej) => {
        res(reader.readAsText(file));
      });
    },
    startShowResult() {
      this.chart.series[0].setData(this.errData.map(e => Number(e)));
      this.chart.redraw();
    }
  }
};
</script>

