.filepicker{
    min-height: 30px;
    padding:8px;
    position: fixed;
    top:0;
    right:0;
    background: white;
    box-shadow: 0px 2px 3px #afafaf;
}
.chartContainer{
    position: fixed;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    box-shadow: 0px 1px 2px #454545;
}